[mysqld]
port=3306
max_allowed_packet=64M

bind-address=0.0.0.0
# When a client connects, the server will perform hostname resolution,
# and when DNS is slow, establishing the connection will become slow as well.
# It is therefore recommended to start the server with skip-name-resolve to
# disable all DNS lookups. The only limitation is that the GRANT statements
# must then use IP addresses only.
skip_name_resolve

character-set-server=UTF8
collation-server=utf8_general_ci

pid_file          = /var/lib/mysql/mysql.pid
log_error         = /var/lib/mysql/error.log
log_warnings      = 2

# General logging has huge performance penalty therefore is disabled by default
general_log       = off
general_log_file  = /var/lib/mysql/error.log
skip-log-bin

# Pre-configure slow logging.
# Disabled it by default, but it can be switched on during runtime
# and the log entries simply appear in the error.log
#
slow_query_log                = off
slow_query_log_file           = /var/lib/mysql/error.log
long_query_time               = 3
log_queries_not_using_indexes = on

#
# InnoDB
#
# The buffer pool is where data and indexes are cached: having it as large as possible
# will ensure you use memory and not disks for most read operations.
# Typical values are 50..75% of available RAM.
innodb_buffer_pool_size = 512M
innodb_data_file_path = ibdata1:10M:autoextend
innodb_file_per_table
innodb_log_file_size = 128M
innodb_flush_method	= O_DIRECT

[client]
port=3306
default-character-set=UTF8
max_allowed_packet=64M